<div class="jumbotron">
  <h1 class="display-4">Ts and Node App</h1>
  <p class="lead">Esta es mi primera aplicacion usando estas tecnologias de forma completa</p>
  <hr class="my-4">
  <p>Estoy en proceso de ser un buen programador</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Aprende mas sobre mi.</a>
</div>